@{
    ViewBag.Title = "About";
}
<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Nosotros</h2>
                    <div class="bt-option">
                        <a href="@Url.Action("Index","Home")">Inicio</a>
                        <span>Nosotros</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->

<!-- About Us Page Section Begin -->
<section class="aboutus-page-section spad">
    <div class="container">
        <div class="about-page-text">
            <div class="row">
                <div class="col-lg-6">
                    <div class="ap-title">
                        <h2>Bienvenido a Hotel Casa del Sol</h2>
                        <p>
                            Hotel Casa del Sol es la ubicación perfecta de un resort frente al mar para explorar toda la aventura y las maravillas naturales de Costa Rica.
                            Escápese a un paraíso tropical donde las arenas doradas lo invitan a quedarse bajo la sombra de las palmeras y el cálido océano azul del Pacífico.
                        </p>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <ul class="ap-services">
                        <li><i class="icon_check"></i> Atención al huésped personalizada.</li>
                        <li><i class="icon_check"></i> Desayuno Diario</li>
                        <li><i class="icon_check"></i> Limpieza y Áseo de Habitaciones</li>
                        <li><i class="icon_check"></i> Acceso con Tarjeta</li>
                        <li><i class="icon_check"></i> Amplio Parqueo</li>
                        <li><i class="icon_check"></i> Espectacular Show Nocturno</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="about-page-services">
            <div class="row">
                <div class="col-md-4">
                    <div class="ap-service-item">
                        <img src="~/img/about/about-p1.jpg" />
                        <div class="api-text">
                            <h3>Restaurantes</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ap-service-item">
                        <img src="~/img/about/about-p2.jpg" />
                        <div class="api-text">
                            <h3>Viajes y Tours</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ap-service-item">
                        <img src="~/img/about/about-p3.jpg" />
                        <div class="api-text">
                            <h3>Eventos y Fiestas</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
