@{
    ViewBag.Title = "Contact";
}
<!-- Contact Section Begin -->
<section class="contact-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="contact-text">
                    <h2>Contáctenos</h2>
                    <p>
                        Puede comunicarse con nosotros a través de cualquiera de los siguientes canales, estaremos felices de ayudarle con sus consultas.
                    </p>
                    <table>
                        <tbody>
                            <tr>
                                <td class="c-o">Dirección:</td>
                                <td>Guanacaste, Costa Rica</td>
                            </tr>
                            <tr>
                                <td class="c-o">Teléfono:</td>
                                <td>+(506) 2222-2222</td>
                            </tr>
                            <tr>
                                <td class="c-o">Correo:</td>
                                <td>info.hotelcasadelsol@gmail.com</td>
                            </tr>
                            <tr>
                                <td class="c-o">Fax:</td>
                                <td>+(506) 345 67890</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-7 offset-lg-1">
                <form action="#" class="contact-form">
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="text" placeholder="Su Nombre">
                        </div>
                        <div class="col-lg-6">
                            <input type="text" placeholder="Su Correo">
                        </div>
                        <div class="col-lg-12">
                            <textarea placeholder="Su Mensaje"></textarea>
                            <button type="submit">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d9750.341436782572!2d-85.85152431507775!3d10.285161813492682!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sresort%20guanacaste!5e0!3m2!1ses!2scr!4v1677448468762!5m2!1ses!2scr"
                    height="470" style="border:0;" allowfullscreen=""></iframe>
        </div>
    </div>
</section>
<!-- Contact Section End -->