
@{
    ViewBag.Title = "Habitaciones";
}

<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Nuestras Habitaciones</h2>
                    <div class="bt-option">
                        <a href="./home.html">Inicio</a>
                        <span>Habitaciones</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->

<!-- Home Room Section Begin -->
<section class="hp-room-section">
    <div class="container-fluid">
        <div class="hp-room-items">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="hp-room-item set-bg">
                        <img src="~/img/room/room-b1.jpg" height="580" />
                        <div class="hr-text">
                            <h3>Habitación Familiar</h3>
                            <h2>$124<span>/Por Noche</span></h2>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Size:</td>
                                        <td>17mts<sup>2</sup></td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Capacidad:</td>
                                        <td>Maximo 4 Personas</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Tipo Cama:</td>
                                        <td>Cama Matrimonial</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Servicios:</td>
                                        <td>Television, Baño con Agua Caliente, CoffeeMaker...</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="@Url.Action("DisponibilidadHabitaciones","Users")" class="primary-btn">Ver Disponibilidad</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="hp-room-item set-bg">
                        <img src="~/img/room/room-b2.jpg" height="580" />
                        <div class="hr-text">
                            <h3>Habitación Deluxe</h3>
                            <h2>$166<span>/Por Noche</span></h2>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Tamaño:</td>
                                        <td>24mts<sup>2</sup></td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Capacidad:</td>
                                        <td>Máximo 4 Personas</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Tipo Cama:</td>
                                        <td>Cama Queen</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Servicios:</td>
                                        <td>Television, Tina de Baño, Caja Fuerte...</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="@Url.Action("DisponibilidadHabitaciones","Users")" class="primary-btn">Ver Disponibilidad</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="hp-room-item set-bg">
                        <img src="~/img/room/room-b3.jpg" height="580" />
                        <div class="hr-text">
                            <h3>Junior-Suite</h3>
                            <h2>$199<span>/Por Noche</span></h2>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Tamaño:</td>
                                        <td>30mts<sup>2</sup></td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Capacidad:</td>
                                        <td>Máximo 2 Personas</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Tipo Cama:</td>
                                        <td>Cama King</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Servicios:</td>
                                        <td>Jacuzzi, Aire Acondicionado,...</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="@Url.Action("DisponibilidadHabitaciones","Users")" class="primary-btn">Ver Disponibilidad</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="hp-room-item set-bg">
                        <img src="~/img/room/room-b4.jpg" height="580" />
                        <div class="hr-text">
                            <h3>Suite Ejecutiva</h3>
                            <h2>$222<span>/Por Noche</span></h2>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Tamaño:</td>
                                        <td>35mts<sup>2</sup></td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Capacidad:</td>
                                        <td>Máximo 3 Huéspedes</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Tipo Cama:</td>
                                        <td>Cama King</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Services:</td>
                                        <td>Jacuzzi, Aire Acondicionado, MiniBar,...</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="@Url.Action("DisponibilidadHabitaciones","Users")" class="primary-btn">Ver Disponibilidad</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Home Room Section End -->

<section class="blog-details-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="blog-details-text">
                    <div class="bd-more-text">
                        <div class="bm-item">
                            <h4>Las mejores habitaciones que garantizan tu comodidad</h4>
                            <p>
                                Contempla la belleza natural de Costa Rica desde cualquiera de éstas cálidas, elegantes y luminosas estancias. Ponemos a tu disposición diferentes
                                opciones con hermosas vistas a la playa. Nuestras habitaciones tienen un concepto moderno e innovadoras, decoradas de forma elegante con el único
                                objetivo de que nuestros huéspedes tengan una estancia única y exclusiva.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Details Section End -->
