@{
    ViewBag.Title = "Home Page";
}
<!-- Hero Section Begin -->
<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="hero-text">
                    <h1>Un Resort Familiar en Costa Rica</h1>
                    <p>
                        Ubicado en la playa Sol Tours, ofrece 4 piscinas al aire libre y habitaciones con balcón.
                        Cuenta con 4km de playa privada y jardines tropicales con encanto.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-slider owl-carousel">
        <div class="hs-item">
            <img src="~/img/hero/hero-1.jpg" />
        </div>
        <div class="hs-item">
            <img src="~/img/hero/hero-2.jpg" />
        </div>
        <div class="hs-item">
            <img src="~/img/hero/hero-3.jpg" />
        </div>
    </div>
</section>
<!-- Hero Section End -->

<!-- Services Section -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Lo que Hacemos</span>
                    <h2>Descubra Nuestros Servicios</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <i class="flaticon-036-parking"></i>
                    <h4>Plan de Viaje</h4>
                    <p>
                        Ofrecemos varios paquetes especialmente diseñados para satisfacer sus gustos, intereses, necesidades y presupuesto.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <i class="flaticon-033-dinner"></i>
                    <h4>Restaurantes</h4>
                    <p>
                        Contamos con 3 restaurantes con excelente ambiente y opciones de Menú muy variados para todo los gustos.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <i class="flaticon-026-bed"></i>
                    <h4>Babysitting</h4>
                    <p>
                        Estamos ahí para los padres trabajadores, para los padres que necesitan algo de tiempo para sí mismos.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <i class="flaticon-024-towel"></i>
                    <h4>Lavandería</h4>
                    <p>
                        Lavamos tu ropa, cuidando de tus artículos como si fueran nuestros, y ofrecemos servicio de recogida y entrega.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <i class="flaticon-007-swimming-pool"></i>
                    <h4>Piscinas</h4>
                    <p>
                        Contamos con 4 piscinas al aire libre, 3 para adultos y 1 para niños, con gran cantidad de áreas con sombra y sillas playeras.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <i class="flaticon-012-cocktail"></i>
                    <h4>Bar & Drink</h4>
                    <p>
                        Nuestra propuesta gastronómica es espectacular para todos los gustos, además, contamos con música en vivo.
                    </p>
                </div>
            </div>
        </div>
    </div>
<!-- Services Section End -->

<!-- Testimonial Section Begin -->
<section class="testimonial-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Testimonios</span>
                    <h2>¿Qué dicen nuestros Clientes?</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="testimonial-slider owl-carousel">
                    <div class="ts-item">
                        <p>
                            Después de que un proyecto de construcción tomó más tiempo de lo esperado, mi esposa, mi hija y yo necesitábamos un lugar para pasar algunas noches. 
                            Como residente de San José, buscamos una opción lejos de la cuidad y nos encantaron nuestras vacaciones en Hotel Casa del Sol.
                        </p>
                        <div class="ti-author">
                            <div class="rating">
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star-half_alt"></i>
                            </div>
                            <h5> - Alexander Vasquez</h5>
                        </div>
                        <img src="~/img/testimonial-logo.png" alt="">
                    </div>
                    <div class="ts-item">
                        <p>
                            El hotel es muy agradable y cuenta con decoración moderna, todo impecable y súper acogedor. Vinimos de la ciudad para festejar nuestro aniversario, 
                            todo el equipo y servicios del Hotel Casa del Sol hicieron que nuestra estadía fuera memorable.
                            .
                        </p>
                        <div class="ti-author">
                            <div class="rating">
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                            </div>
                            <h5> - Jahayra Calderón</h5>
                        </div>
                        <img src="~/img/testimonial-logo.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial Section End -->